.mr {
	/* float: right; */
	/* font: 15px Neue Haas Unica; */
	font-weight: normal;
	/* font-weight: bold; */
	position: absolute;
	/* top: 13px; */
	/* left: 29px; */
	/* left: 102px; */
	width: 45px;
	float: left;
right: 649px;
top: 47px;
}
/* #wpadminbar {  display: none;} */
/*  */
.main-navigation {
	/* display: none; */
	position: relative;
	/* top: 100px; */
	/* left: 10px; */
	font-weight: 400;
	min-height: 130px;
}

/*  */
#page {
    width: 1464px;
    margin: 0 auto;
}
body {
    font: 14px Neue Haas Unica;
        line-height: normal;
    line-height: 1.4em;
    letter-spacing: 0.02em;
}
.menu-toggle {
	cursor: pointer;
}
.menu-menu-left-container {
	width: 90%;
	margin: 0 auto;
	height: 70px;
	border-top: 1px solid black;
	position: relative;
	top: 70px;
	display: block;
}
.menu-menu-left-eng-container {
	width: 90%;
	margin: 0 auto;
	height: 70px;
	border-top: 1px solid black;
	position: relative;
	top: 70px;
	display: block;
}
#content {
    width: 1220px;
}
#content {
	position: relative;
	/* float: right; */
	margin: 0 auto;
	overflow-x: hidden;
	-moz-transition: width 0.5s ease-out;
	-webkit-transition: width 0.5s ease-out;
	-o-transition: width 0.5s ease-out;
	transition: width 0.5s ease-out;
}
.site-branding {
	position: relative;
	top: 20px;
	width: 150px;
	margin: 0 auto;
}
.entry-content {
margin-top: 20px;
color: #000000;
-moz-transition: width 0.5s ease-out;
-webkit-transition: width 0.5s ease-out;
-o-transition: width 0.5s ease-out;
transition: width 0.5s ease-out;
/*width: 970px;*/
text-align: center;
}
.entry-title {
	/* float: right; */
	/* width: 240px; */
	/* margin: 20px 10px 0.75em 0; */
	font-size: 17px;
	font-weight: 600;
	font-family: Neue Haas Unica;
	color: grey;
}
.entry-header {
	/*position: absolute;*/
	/*top: 100px;*/
	z-index: 9999;
	/*left: 46%;*/
	/* width: 100%; */
}
.page-id-78 .entry-title {
	opacity: 0;
}
.post-description {
	margin-top: 1.5em;
text-transform: none;
color: #2c2c2c;
font-size: 14px;
font-weight: bold;
}
.main-navigation li {
	float: left;
	padding: 10px 40px;
}
/* .toggled .menu-menu-left-container {
	display: block;
}
.toggled .menu-menu-left-eng-container {
	display: block;
} */
.main-navigation li a {
	font-family: Neue Haas Unica !important;
	text-transform: uppercase;
	color: black;
}
footer {
	position: relative;
	width: 100%;
	/* margin: 0 20px 12px 0px; */
	/* bottom: 0; */
	text-align: center;
	padding: 50px;
	border-top: 1px solid black;
}
.yudawebdev {
position: fixed;
right: 100px;
width: 150px;
z-index: 99999;
bottom: 10px;
font-size: 10px;
font-weight: 400;
}
.fab {
	color: white;
	background-color: black;
	padding: 10px 10px;
	font-size: 15px;
	border-radius: 60%;
	width: 35px;
	height: 35px;
	text-align: center;
}

.copyrights {
        font: 15px Neue Haas Unica;
        font-weight: normal;
    font-weight: bold;
    position: fixed;
    bottom: 3%;
    right: 16%;
    display: none;
}
.size-full {
    /*height: 920px;*/
    width: auto;
    image-rendering: optimizequality;
    cursor: pointer;
}
/* monitors and laptops */
@media screen and (max-width: 1366px) {
.entry-content {
    width: 800px;
}
#masthead {
    position: fixed;
    width: 210px;
}
#content {
    width: 1220px;
}
.entry-title {

width: 416px;}
#information {
    width: 250px;
    display: inline-block;
}
#masthead {

    left: 50px;
    margin-top: 20px;
}
.size-full {
    height: auto;}
.page-id-374 .size-full, .page-id-78 .size-full {
	position: relative;
}
.copyrights{
        right: 160px !important;
    }
    .site-info {
    position: relative;
    left: 50px;
    bottom: 10px;
}
}
@media screen and (max-width: 1000px) {

	body {
	  font-size: 12px;
	}
	#page {
	  width: 100%;
	}
	.site-branding {
		top: 0px;
	}
	.main-navigation ul {
		display: none;
	}
	.menu-toggle {
		display: block;
	}
	#masthead {
	  position: relative;
	  width: 100%;
	  left: auto;
	  margin: auto;
	}
	.site-branding {
	  text-align: center;
	}
	#content {
	  width: 100%;
	  float: initial;
	}
	.entry-content {
	  width: auto;
	  float: initial;
	  margin: auto;
	}
	#information {
	  width: auto;
	  padding: 5%;
	}
	#colophon {
	width: 100%;

	margin: auto;

	text-align: center;

	/*background-color: #f2f2f2;*/
	}
	.site-info {
	left: initial;

	padding: 4px;
	bottom: 0;
	}

	.entry-title {
	  width: auto;
	  text-align: center;
	  float: inherit;
	}

	#masthead {
	 box-shadow: 0px 4px 17px 0px #0000001a;
	  padding: 30px 0px 9px 1px;
	}
	.entry-title {
	  text-decoration: none;
	  font-size: 17px;
	}
	.post-description {

	font-size: 12px;

	color: #444;
	}
	.copyrights {
	position: fixed;

	right: 20px !important;

	text-align: center;


	bottom: 12px;

	z-index: 999;

	font-size: 12px;

	font-weight: 500;

	color: grey;
	}
	.copyrights::before {

	    content: '©';
	    margin-right: 6px;

	}
.size-full {
	/* height: auto; */
	/* padding: 4%; */
	/*position: fixed;*/
	top: 33%;
}

	p {
	  margin: auto;
	  line-height: 25px;
	}
	.post-description p:first-child {
	  margin-bottom: 30px;
	}
	.site-branding img {

	    image-rendering: optimizequality;
	    height: 50px;
	    width: auto;

	}
	.fab{
	    height: auto;
	    font-size: auto;
	    background-color: #4e4e4e;
	    width: 33px;
	    font-size: 12px;
	}

	#site-navigation {
	  z-index: 9;
	}
	.menu-menu-left-container {
	background: white;
		position: absolute;
	width: 100%;
	top: 65px;
}
/* comment */
/* new comment */
.menu-menu-left-eng-container {
	background: white;
	position: absolute;
	width: 100%;
	top: 65px;
}
/* test */
	#masthead {
	  min-height: 130px !important;
	}
#primary-menu li {
	padding: 3px;
	/*margin-left: 13%;*/
}
#primary-menu {
	box-shadow: 0px 12px 11px 1px #0003;
}
	.menu-toggle:hover {
		cursor: pointer;
	}
	#site-navigation {
	position: absolute;
	top: 44%;
	left: 0px;
}
.menu-toggle {
	font-size: 21px;
	color: black;
	text-transform: uppercase !important;
	border: none;
	background: none;
	font-weight: 600;
	/* margin-left: 43%; */
	top: -23px;
	position: absolute;
	right: 0;
}
.fas.fa-bars {
	display: grid;
}
.fas.fa-bars::after {
	content: 'MENU';
	font-family: Neue Haas Unica;
	font-weight: 400;
	font-size: 11px;
}

.main-navigation ul{
	text-align: center;
	left: 5%;
}
}
/*end 1000px*/
.main-navigation ul ul a {
	color: grey;
	font-size: 11px;
	position: relative;
	left: 0px;
}

.page-id-199 .entry-content {
	display: none;
}
.main-navigation ul ul li {
	list-style: initial;
	/* list-style-position: inside; */
	/* padding: 0; */
	position: relative;
	float: left;
	left: 14px;
}

.page-id-195 .entry-content {
	width: auto;
	/*max-height: 820px;*/
}
.page-id-195 .entry-content, .page-id-360 .entry-content {
	width: auto;
	/* max-height: 820px; */
	top: 0;
	/*position: fixed;*/
}
.page-id-207 #information {
	display: none;
}
.page-id-207 .entry-header{
	display: none;
}
.page-id-883 #information {
	display: none;
}
.page-id-883 .entry-header{
	display: none;
}
.page-id-207 .entry-content ,.page-id-883 .entry-content, .page-id-934 .entry-content{
	/* width: 1200px; */
	position: relative;
	left: 150px;
}
.page-id-934 #information {
	display: none;
}
.page-id-934 .entry-header{
	display: none;
}
.page-id-362 #information {
	display: none;
}
.page-id-362 .entry-header{
	display: none;
}
.page-id-362 .entry-content {
	/* width: 1200px; */
	position: relative;
	left: 150px;
}
.post-thumbnail {
	display: none;
}
.page-list-ext-item {
	width: 480px;
	float: left;
	/*! clear: initial !important; */
	/*max-width: 300px;*/
	display: block;
	/*height: 400px;*/
	text-align: left;
	min-height: 700px;
}

.page-list-ext-image img {
  max-width: 95%;
  width: 95%;
}
.page-list-ext-title a {
	text-decoration: none;
	color: black;
	font-weight: 400;
	/*! text-align: left; */
	/*! float: left; */
}

.page-id-374 .size-full, .page-id-78 .size-full {
	max-height: 790px;
}
.page-id-360 .entry-content p, .page-id-195 .entry-content p{
	margin: 0;
}
.page-id-360 .entry-content, .page-id-195 .entry-content {
	margin-top: 0;
}

.lang-item a{
	color: grey !important;
}

.nav-language {
	position: absolute;
	right: 70px;
	top: 2px;
}
.nav-language li {
	padding: 10px 10px !important;
}


@media screen and (max-width: 1000px) {

.yudawebdev{
	right: 3px;
	bottom: 11px;
}


.page-list-ext-title a {
	font-size: 12px;
}

.page-id-207 .entry-content, .page-id-362 .entry-content , .page-id-883 .entry-content,.page-id-934 .entry-content {
  left: 0;
}
.page-list-ext-item {
  width: 46%;
  margin: 0% 2%;
}
.nav-language {
	position: absolute;
	right: 73px;
	top: 2px;
}

.nav-language li {
  padding: 5px 5px !important;
}
.nav-language li a {
  font-size: 11px;
}
}
/**/
.page-id-195 #content {
	width: 100%;
}
.page-id-360 #content {
	width: 100%;
}

.page-image-title {
	position: relative;
	text-align: center;
}
